@charset 'UTF-8';
body{
	margin: 0;
	padding: 0;
	font-family: "Raleway", "Lato", "sans-serif", "Arial";
}

#tentang{
	padding: 50px 0;
}
#tentang h1{
	font-size: 18pt;
	color: #222;
	text-align: center;
	margin: 0;
	margin-bottom: 15px;
}
#tentang .line-judul{
	width: 20%;
	margin: auto;
	height: 2px;
	background-color: #7A05DD;
}
#tentang .banner{
	height: 400px;
	margin: 25px 0;
	text-align: center;
}
#tentang .img-banner{
	height: 100%;
}
#tentang p{
	margin-top: 25px;
}